<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/common.css">
    <script src="../../js/flexible.js"></script>
</head>

<body>

    <!-- JiaThis Button BEGIN -->
    <div id="bdshare" class="jiathis_style_32x32" style="display:none;">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_weixin"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
    <!-- JiaThis Button END -->

    <div id="share-overlay"></div>

    <script src="shareOverlay.debug.js"></script>

</body>

</html>
