.comment-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f6f6f6;
    z-index: 1200;
}

.comment-box-header {
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
}

.comment-box-header .wrap {
    text-align: center;
    position: relative;
    font-size: 0;
}

.comment-box-header h3 {
    display: inline-block;
    height: 2.2rem;
    font-size: 0.8rem;
    color: #4f6773;
    line-height: 2.2rem;
}

.comment-box-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.2rem;
    font-size: 0.7rem;
    color: #3595e7;
    width: 3rem;
    line-height: 2.2rem;
}

.cancel-button {
    left: 0;
}

.submit-button {
    right: 0;
}

.submit-button.disabled {
    color: #cbcbcb;
}

.content-text {
    width: 15rem;
    height: 4rem;
    margin: 0.5rem auto 0;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
    font-size: 0.6rem;
    line-height: 0.9rem;
    display: block;
}
