.article-interaction {
    height: 2.8rem;
    margin-bottom: 9.9rem;
}

.article-interaction.with-ad {
    margin-bottom: 5.8rem;
}

.article-interaction.with-card {
    margin-bottom: 7.4rem;
}

.article-interaction.with-nothing {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.article-interaction .wrap {
    display: flex;
    justify-content: center;
}

.article-interaction-item {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0 1.3rem;
}

.newsBar-placeholder {
    height: 2rem;
}

.article-comment-header {
    height: 0.8rem;
    line-height: 0.8rem;
}

.article-comment-header::before {
    content: "";
    float: left;
    width: 0.15rem;
    height: 0.8rem;
    background-color: #3595e7;
    margin-right: 0.4rem;
}

.article-comment-header h3 {
    float: left;
    height: 0.8rem;
    font-size: 0.75rem;
    color: #343b41;
}

.article-comment-header span {
    float: left;
    color: #8d8d8d;
    font-size: 0.75rem;
    height: 0.8rem;
    margin-left: 0.5rem;
}

.comment {
    margin-top: 0.7rem;
}
