<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="../../css/common.css">
    <script src="../../js/flexible.js"></script>
</head>

<body>

    <input type="hidden" id="contentId" value="52062">
    <input type="hidden" id="articleId" value="news-52062">
    <input type="hidden" id="uuid" value="news-52062">

    <div id="app"></div>

    <script src="app.debug.js"></script>

</body>

</html>
